#google-container {
    position: relative;
    min-width: 900px;
    margin: 0 auto;
    min-height: 100vh;
    text-align: center;
}

#content-wrap {
    padding-bottom: 2.5rem;
}
#logo {

    padding-top: 109px;
    display: inline-block;
}


#search {
    display: block;
   
}
#search-bar {
    display: block;
    width: 40%;
    margin: 25px auto;
    border-radius: 23px;
    border: 1px solid
    #00000021;
    color:
    #353535;
    padding: 12px 20px;
    background-color:
    transparent;
    font-size: 16px;
    
}
.search-btn {
    text-align: center;
    width: auto;
    padding: 7px 18px;
    border-radius: 4px;
    margin: 0px 5px;
    background-color:
    #eaeaead9;
    color:
    #575757ed;
    border: none;
    font-size: 14px;
}
#navbar {
    list-style-type: none;
    align-items:  center;
    overflow: hidden;
    font-size: 14px;
    color:#404040;
    margin: 0 20px;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #404040;;
}

.left-nav {
    float: left;
    padding: 0px;
    margin: 25px 10px;
}

.right-nav {
    float: right;
    margin: 25px 10px;
}

#signin-btn {
    display: block;
    background-color:#4285f4;
    color: white;
    border-radius: 2px;
    padding: 7px 16px;
    margin-top: -8px;
   font-weight: bold;
   border: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #eaeaead9

}
/* Text styling of footer goes in here */
#foot { 
    list-style-type: none;
    font-size: 14px;
    font-weight: lighter;
    color: #575757;
    border: 1px solid #2828280a;
    padding: 0 15px;
}

.table {
    max-width: 100%; 

}

ul#foot li {
    padding: 12px;
}

.left-foot {
    float: left;
    
}

.right-foot {
    float: right;
}